$blackColor: #000;
$whiteColor: #fff;
$redColor: red;
$brownColor: #3d1101;
$lineColor: #979797;
$orangeColor: #FF5E45;
$bgColor-1: #efe9e7;
$bgColor-2: #100201;
$bgColor-3: rgba(250, 250, 250, 0.70);
$google-color: #db4437;
$twitter-color: #41abe1;
$facebook-color: #3a5795;
$default-width: 1049px;
$header-height: 56px;
$banner-height: 364px;
$slogn-width:460px;
$slogn-height:152px;
$font-l: 18px;
$font-m: 16px;
$font-s: 14px;
